﻿@{
    ViewBag.Title = "Anasayfa";
}

<div class="jumbotron">
    <h1>Neler Yapıyoruz ?</h1>
    <p class="lead">Çevre kirliliği her geçen gün artan toplumsal sorunumuzdur. Amacımız yaptığımız etkinlik ve kampanyalarla çevre kirliliğine dikkat çekmek ve önüne geçmektir.</p>
</div>

<div class="row">
    <div class="col-md-4">   
        <h2><img src="~/Content/img/WhatsApp Image 2017-12-03 at 19.48.41.jpeg"  /> DESTEK</h2>    
        <p>Ağaçlandırma imza kampanyası</p>
        <p>Sokaklarda geri dönüşümü artttırma imza kampanyası</p>
        <p>Doğayı sevin çevreyi koruyun (imza kampanyası)</p>
    </div>
    <div class="col-md-4">
        <h2><img src="~/Content/img/WhatsApp Image 2017-12-03 at 19.48.40.jpeg" /> HEDEFLER</h2>
        <p>Sanayi atıklarının önüne geçmek</p>
        <p>İnsanları geri dönüşüm hakkında bilinçlendirmek</p>
    </div>
    <div class="col-md-4">
        <h2><img src="~/Content/img/WhatsApp Image 2017-12-03 at 19.48.41(1).jpeg" /> HABERLER & OLAYLAR</h2>
        <p>Fener Mahallesi'nde Büyük Dönüşüm</p>
        <p>Organik Gübrede Bir İlk</p>
        <p>2050 Yılında Denizlerde Balıktan Çok Plastik Olacak!</p>
        <p></p>
        
    </div>
</div>